@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playpen+Sans:wght@100..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 2, 29);
    cursor: pointer;
    font-family: 'kanit';
    font-style: italic;
}

.grammar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 600px;
    background-color: rgb(109, 1, 1);
    position: fixed;
    left: 1550px;
    top: 8px;
    font-family: 'kanit';
    font-style: italic;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    color: white;
}

.examples {
    font-size: 20px;
    width: 350px;
    text-align: center;
}

.line {
    border-bottom: white 1px solid;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.examples:hover {
    background-color: yellow;
    color: red;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
}

.hilight {
    color: rgb(238, 255, 0);
}

.hilight-title {
    color: rgb(255, 0, 212);
    font-size: 30px;
}

.main-img {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px black;
}

.instructions {
    font-size: 25px;
    color: rgb(0, 225, 255);
    margin-bottom: 10px;
}

.words {
    font-style: italic;
    color: rgb(247, 0, 255);
    text-decoration: underline;
}

.instructions:hover {
    background-color: lime;
    color: black;
    border-radius: 5px;
}

.container-master {
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    max-height: 600px;
    padding: 4px;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'kanit';
    font-style: italic;
    margin-right: 3px;
}

.nameA {
    color: rgb(212, 68, 1);
}

.nameB {
    color: rgb(0, 111, 155);
}

.item {
    font-size: 17px;
    padding: 5px;
}

.inputs {
    width: 35px;
    height: 25px;
    border: none;
    background-color: rgb(229, 243, 255);
    text-align: center;
    font-size: 17px;
    color: rgb(255, 51, 0);
    border-radius: 4px;
    border-bottom: steelblue 1px solid;
    font-family: 'bree serif';
    font-family: 'kanit';
    font-style: italic;
}

#input1 {
    width: 175px;
}

#input2 {
    width: 240px;
    margin-left: 2px;
}

#input3 {
    width: 40px;
}

#input4 {
    width: 140px;
}

#input5 {
    width: 60px;
}

#input6 {
    width: 35px;
}

#input7 {
    width: 75px;
}

#input8 {
    width: 35px;
    margin-left: 1px;
}

.correct {
    visibility: hidden;
}


